<div class="metric">
    <div class="metric-content">
        <h2>Personal Loans</h2>
        <p><strong class="loan-count"><%= personalLoanCount %></strong> <i>Applications</i></p>
    </div>
    <div class="metric-content">
        <h2>Business Loans</h2>
        <p><strong class="loan-count"><%= businessLoanCount %></strong> <i>Applications</i></p>
    </div>
</div>