    <!--Terms and condition-->
    <div class="terms-section">
        <a>Terms of Use</a>
        <span> | </span>
        <a>Data Protection</a>
        <span> | </span>
        <a>Privacy Policy</a>
    </div>
    
    <!--Footer Section-->
    <footer>
        <p><span class="copyright">&copy;</span>Copyright <%= new Date().getFullYear(); %> Greenenergy Fund | All Rights Reserved.</p>
    </footer>