<!--Admin nav-->
<nav id="nav">
    <div>
      <div class="logo">
        <i class="fab fa-gg-circle"></i>
        <span>Greenenergy Fund</span>
      </div>
      <ul class="nav">
        <li class="nav__item">
          <a href="/dashboard" class="nav__item-link">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="/personalloandata" class="nav__item-link">
            <i class="fa-solid fa-users"></i>
            <span>Personal Loans</i></span>
          </a>
        </li>
        <li class="nav__item">
          <a href="/businessloandata" class="nav__item-link">
            <i class="fa-solid fa-briefcase"></i>
            <span>Business Loan</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__item-link">
            <i class="fas fa-user-alt"></i>
            <span>Profile</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="/signup" class="nav__item-link">
            <i class="fas fa-cogs"></i>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </div>

    <a href="/logout" class="sign-out">
      <i class="fas fa-sign-out-alt"></i>
      <span>Log Out</span>
    </a>
</nav>