<!-- Form Section -->
<!--Apply loan section-->
<div class="steps">
    <div class="how-to">
        <div class="how-to-inner">
            <h1>Business funding has never been easier. Let's get started!</h1>
            
            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 1 - Apply</h3>
                    <p>Complete our simple application.  You will be done in minutes.</p>
                </div>
            </div>

            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 2 - Link Bank Or Upload Statements</h3>
                    <p>Depending on funding type and amount - you will be approved simply by verifying and linking your bank account - or by uploading your bank statements.</p>
                </div>
            </div>

            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 3 - Receive Offer and Get Funded</h3>
                    <p>With most fundings, you will receive an instant offer on screen.  With larger fundings and Lines of Credit- you will receive an offer via email within one hour to one business day.</p>
                </div>
            </div>

            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 4 - Share the Great News and Save.</h3>
                    <p>Ask how our exclusive Greenery Fund ConnectCash™ program can save you thousands and pay off your balance sooner.</p>
                </div>
            </div>
        </div>
    </div>

    <div class=" how-to">
        <div class=" biz-loan">
            <img src="/img/presentation-1454403_1280.png" alt="Business Loan Img" class="biz-img">
            <h2 class="mt-10">Get funded and Scale up your Business</h2>
            <p>Green Energy makes business funding easy globally. In just few minutes, recieve an offer and get funded immediately!</p>
            <a href="/businessloan">Apply here for Business Funding</a>
            <a href="/personalloan">Apply here for Personal Funding</a>
        </div>
    </div>

        
</div>

