<div class="app-completed">
    <img src="/img/ok-1976099_640.png" alt="Success">
    <h1>Your application has been received</h1>
    <p>One of our Certified Financing Specialist will be reaching out to you shortly.</p>
    <p><a href="/applyloan" class="comp-link"> Start Over </a></p>
</div>