<!-- Form Section -->
<!--Apply loan section-->
<div class="steps">
    <div class="how-to">
        <div class="how-to-inner">
            <h1>Business funding has never been easier. Let's get started!</h1>
            
            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 1 - Apply</h3>
                    <p>Complete our simple application.  You will be done in minutes.</p>
                </div>
            </div>

            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 2 - Link Bank Or Upload Statements</h3>
                    <p>Depending on funding type and amount - you will be approved simply by verifying and linking your bank account - or by uploading your bank statements.</p>
                </div>
            </div>

            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 3 - Receive Offer and Get Funded</h3>
                    <p>With most fundings, you will receive an instant offer on screen.  With larger fundings and Lines of Credit- you will receive an offer via email within one hour to one business day.</p>
                </div>
            </div>

            <div class="process">
                <div class="step-icon">
                    <svg class="icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"></path>
                    </svg>
                </div>

                <div class="procedure">
                    <h3>Step 4 - Share the Great News and Save.</h3>
                    <p>Ask how our exclusive Greenery Fund ConnectCash™ program can save you thousands and pay off your balance sooner.</p>
                </div>
            </div>
        </div>
    </div>

    <div class=" how-to">

        <div class="form-section">
            <h1>Enter your Information</h1>

            <!--Progress bar-->
            <div class="progressbar">
                <div class="progress" id="progress"></div>
                
                <div class="progress-step progress-step-active" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <!-- <div class="progress-step" data-title=""></div> -->
            </div>

            <form action="#">

                <div class="form-step form-step-active">
                    <div class="name-input mt-10">
                        <h4 class="name-header">Client Name <span class="required">(Required)</span></h4>
                        <div class="mt-10">
                            <label for="fname"> First Name</label>
                            <input id="fname" class="mt-10 isvalid" type="text" placeholder="Enter First Name" required>
                        </div>
                        <div class="mt-10">
                            <label for="lastname"> Last Name</label>
                            <input id="lastname" class="mt-10 isvalid" type="text" placeholder="Enter Last Name" required>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="phone">Mobile <span class="required">(Required)</span></label>
                            <input id="phone" class="mt-10 isvalid" type="tel" placeholder=" Enter Phone Number" required>
                        </div>
                        <div>
                            <label for="email">Email <span class="required">(Required)</span></label>
                            <input id="email" class="mt-10 isvalid" type="email" placeholder="Enter Email" required>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="country">Country <span class="required">(Required)</span></label>
                            <select id="country" class="mt-10 form-select country isvalid" aria-label="Default select example" onchange="loadStates()" required>
                                <option selected>Select Country</option>
                            </select>
                        </div>
                        <div>
                            <label for="state">State</label>
                            <select id="state" class="mt-10 form-select state isvalid" aria-label="Default select example" onchange="loadCities()" onfocus="updateInputType()"  required>
                                <option selected>Select State</option>
                            </select>
                        </div>
                    </div>

                    <div class="home-address mt-10">
                        <label for="homeaddress">Home Address </label>
                        <input id="homeaddress" class="mt-10 isvalid" type="text" placeholder="Enter your address">
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="city">City</label>
                            <select id="city" class="mt-10 form-select city isvalid" aria-label="Default select example">
                                <option selected>Select City</option>
                            </select>
                        </div>
                        <div>
                            <label for="zipcode">Zip Code </label>
                            <input id="zipcode" class="mt-10 isvalid" type="text" placeholder="Enter Zipcode">
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="dob">DOB <span class="required">(Required)</span></label>
                            <input id="dob" class="mt-10 isvalid" type="date" required>
                        </div>
                        <div id="inputContainer">
                            <label for="idnumber">SSN / SIN / NIN / TFN<span class="required">(Required)</span></label>
                            <input id="idnumber" class="mt-10 isvalid" type="text" placeholder="Enter Country Identity Number"required>
                        </div>
                    </div>

                    <div class="name-input mt-10">
                        <div>
                            <label for="agent">Agent Name</label>
                            <input id="agent" class="mt-10" type="text" placeholder="Enter Agent Name">
                        </div>
                        <div>
                            <label for="agentid">Agent ID</label>
                            <input class="mt-10" type="text" placeholder="Enter Agent ID">
                        </div>
                    </div>

                    <div class="name-input mt-10">
                        <div>
                            <label for="creditscore">Credit Score <span class="required">(Required)</span></label>
                            <select id="creditscore" class="mt-10 form-select state isvalid" aria-label="Default select example"required>
                                <option selected>Select Credit Score</option>
                                <option>599</option>
                                <option>600-649</option>
                                <option>650-679</option>
                                <option>680-699</option>
                                <option>700-719</option>
                                <option>720-739</option>
                                <option>740</option>
                            </select>
                        </div>
                        <div>
                            <label for="loanamount">Loan Amount?<span class="required">(Required)</span></label>
                            <input id="loanownership" class="mt-10 isvalid" type="text" placeholder="Enter Required Amount" required>
                        </div>
                    </div>

                    <div class="">
                        <a href="#" class="btn btn-next btn-width-50">Next</a>
                    </div>

                </div> 


                <!--Do you have a have bank account-->
                <div class="form-step">
                    <div class="container">
                        <h2>Do you have a bank account?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="bankacct" class="isvalid">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </div>
                                <h4 class="text-option">Yes</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="bankacct" class="isvalid">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                </div>
                                <h4 class="text-option">No</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>


                <!--Do you have a credit card-->
                <div class="form-step">
                    <div class="container">
                        <h2>Do you have a credit card?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="cc">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </div>
                                <h4>Yes</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="cc">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                </div>
                                <h4>No</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--Whose name is your bank account in-->
                <div class="form-step">
                    <div class="container">
                        <h2>Whose name is your bank account in?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="bankname">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-piggy-bank"></i>
                                </div>
                                <h4>In Your Personal Name</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="bankname">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-file"></i>
                                </div>
                                <h4>In Your Business Name</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--In the last 90days, what was your lowest monthly revenue-->
                <div class="form-step">
                    <div class="container">
                        <h2>In the last 90days, what was your lowest monthly revenue?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>Less than $3,000</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$3,000 - $10,000</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$10,000 - $15,000</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$15,000 - $50,000</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$50,000+</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--What type of funding are you seeking-->
                <div class="form-step">
                    <div class="container">
                        <h2>What type of funding are you seeking?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="fundtype">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-landmark"></i>
                                </div>
                                <h4>Loan or Advance</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="fundtype">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-credit-card"></i>
                                </div>
                                <h4>Line Of Credit</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="fundtype">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-border-all"></i>
                                </div>
                                <h4>Both</h4>
                            </div>
                        </div>
                    </div>
                    

                    <!--btn-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--How do you want us to contact you-->
                <div class="form-step">
                    <div class="container">
                        <h2>How do you want us to contact you?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="contactchoice">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-inbox"></i>
                                </div>
                                <h4>Email</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="contactchoice">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <h4>Phone</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="contactchoice">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <h4>Whatsapp</h4>
                            </div>
                        </div>
                    </div>

                    <!--Submit-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <input type="submit" value="Submit" class="btn" />
                    </div>
                </div>

            </form>

            <p class="form-text">
                This site is managed exclusively by Greenenergy Fund. 
                Agents act solely as a referring partners and do not guarantee or underwrite Bank Breezy services. 
                By entering your mobile number you consent that we may contact you on your mobile to help facilitate your application.
            </p>
        </div>     

    </div>
    
</div>