<div class="app-completed">
    <img src="/img/ok-1976099_640.png" alt="Success">
    <h1>Application Completed</h1>
    <p>We will reach out to you through the preferred communication method chosen in the application process...</p>
</div>