<!-- Business form -->
<div class=" how-to center-form mtb">

        <div class="form-section">
            <h1 class="form-h1">Business Financing</h1>

            <!--Progress bar-->
            <div class="progressbar">
                <div class="progress" id="progress"></div>
                
                <div class="progress-step progress-step-active" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
            </div>

            <form action="#" id="form-step">


                <div class="form-step form-step-active">
                    <div class="name-input mt-20">   
                        <div>
                            <label for="businessname">DBA (Business Name)*</label>
                            <input id="businessname" class="mt-10" type="text" placeholder=" Enter Business Name" required>
                        </div>
                        <div>
                            <label for="businesslegalname">Legal Business Name</label>
                            <input id="businesslegalname" class="mt-10" type="text" placeholder=" Enter Legal Business Name" required>
                        </div>
                    </div>

                    <div class="home-address mt-10">
                        <label for="businessaddress">Business Address </label>
                        <input id="businessaddress" class="mt-10" type="text" placeholder=" Enter business location address">
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="businessloccity">What City is your Business in?</label>
                            <input id="businessloccity" class="mt-10" type="text" placeholder=" Enter location city" required>
                        </div>
                        <div>
                            <label for="businesslocstate">What State is your Business in?</label>
                            <input id="businesslocstate" class="mt-10" type="text" placeholder=" Enter location state" required>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="zipcode">Zip Code</label>
                            <input id="zipcode" class="mt-10" type="text" placeholder=" Enter zip code" required>
                        </div>
                        <div>
                            <label for="businessphone">Business Phone</label>
                            <input id="businessphone" class="mt-10" type="tel" placeholder=" Enter business phone number" required>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="website">Website</label>
                            <input id="website" class="mt-10" type="text" placeholder=" www.url.com" required>
                        </div>
                        <div>
                            <label for="taxid">Tax ID</label>
                            <input id="taxid" class="mt-10" type="text" placeholder=" Enter Tax ID" required>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="website">Annual Revenue*</label>
                            <input id="website" class="mt-10" type="text" placeholder=" Enter annaul revenue" required>
                        </div>
                        <div>
                            <label for="entity">Entity*</label>
                            <select id="entity" class="mt-10 form-select" aria-label="Default select example" required>
                                <option selected>Select Entity</option>
                                <option>S Corporation (S Corp)</option>
                                <option>Professional Limited Liability Company (PLLC)</option>
                                <option>Professional Corporation (PC)</option>
                                <option>Limited Liability Limited Partnership (LLLP)</option>
                                <option>C Corporation (C Corp)</option>
                                <option>Limited Liability Company (LLC)</option>
                                <option>Limited Partnership (LP)</option>
                                <option>Limited Liability Partnership (LLP)</option>
                                <option>Sole Proprietorship</option>
                            </select>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="industrytype">Industry Type*</label>
                            <select id="industrytype" class="mt-10 form-select" aria-label="Default select example" required>
                                <option selected>Select Industry Type</option>
                                <option>Automotive</option>
                                <option>Food & Hospitality/Restaurant</option>
                                <option>Natural Resources/Entertainment</option>
                                <option>Business & Information Services</option>
                                <option>Construction/Utilities/COntracting</option>
                                <option>Personal Services</option>
                                <option>Health Care/Health Services</option>
                                <option>Education</option>
                                <option>Real Estate & Housing</option>
                                <option>Entertainment</option>
                                <option>Safety/Security & Legal</option>
                                <option>Technology</option>
                                <option>Transportation</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div>
                            <label for="startdate">Business Start Date*</label>
                            <input id="startdate" class="mt-10" type="date" required>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-next btn-width-50">Next</a>
                    </div>
                </div>

                <div class="form-step">
                    <div class="home-address mt-10">
                        <label for="reqamount">Requested Amount*</label>
                        <input id="reqamount" class="mt-10" type="text" placeholder=" Enter requested amount" required>
                    </div>

                    <div class="home-address mt-10">
                        <label for="useoffund">Use of Funds* <span class="required">(select all that apply)</span></label>
                        <select id="useoffund" class="mt-10 form-select" aria-label="Default select example"required>
                            <option>Purchase Equipment</option>
                            <option>Hire Additional Employee</option>
                            <option>Expand or Renovate</option>
                            <option>Cover Payroll</option>
                            <option>Pay Taxes</option>
                            <option>Make Repairs</option>
                            <option>Stabilize Cash Flow</option>
                            <option>Build Up Emergency Fund</option>
                            <option>Consolidate Your Debt</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <div class="home-address mt-10">
                        <label for="businessownership">Business Ownership*</label>
                        <select id="businessownership" class="mt-10 form-select" aria-label="Default select example"required>
                            <option>100</option>
                            <option>90</option>
                            <option>80</option>
                            <option>70</option>
                            <option>50</option>
                            <option>40</option>
                            <option>30</option>
                            <option>10</option>
                        </select>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <div class="form-step">
                    <div class="name-input mt-10">
                        <h4 class="name-header">Personal Information <span class="required">(Required)</span></h4>
                        <div class="mt-10">
                            <label for="fname"> First Name</label>
                            <input id="fname" class="mt-10" type="text" placeholder="Enter First Name" required>
                        </div>
                        <div class="mt-10">
                            <label for="lastname"> Last Name</label>
                            <input id="lastname" class="mt-10" type="text" placeholder="Enter Last Name" required>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="phone">Mobile <span class="required">(Required)</span></label>
                            <input id="phone" class="mt-10" type="tel" placeholder=" Enter Phone Number" required>
                        </div>
                        <div>
                            <label for="email">Email <span class="required">(Required)</span></label>
                            <input id="email" class="mt-10" type="email" placeholder="Enter Email" required>
                        </div>
                    </div>

                    <div class="country-radio mt-10">   
                        <label for="country">Country <span class="required">(Required)</span></label>
                        <div class="country-radio-tile-group">
                    
                            <div class="country-input-container">
                                <input type="radio" name="country" value="US" onchange="updateInputType()">
                                <div class="country-radio-tile">
                                    <img src="/img/united-states-162454_640.png"></img>
                                </div>
                                <h4>United State</h4>
                            </div>

                            <div class="country-input-container">
                                <input type="radio" name="country" value="CA" onchange="updateInputType()">
                                <div class="country-radio-tile">
                                    <img src="/img/canada-159585_640.png"></img>
                                </div>
                                <h4>Canada</h4>
                            </div>

                            <div class="country-input-container">
                                <input type="radio" name="country" value="GB"  onchange="updateInputType()">
                                <div class="country-radio-tile">
                                    <img src="/img/united-kingdom-162452_640.png"></img>
                                </div>
                                <h4>United Kingdom</h4>
                            </div>

                            <div class="country-input-container">
                                <input type="radio" name="country" value="AU" onchange="updateInputType()">
                                <div class="country-radio-tile">
                                    <img src="/img/australia-1296727_640.png"></img>
                                </div>
                                <h4>Australia</h4>
                            </div>
                        </div>

                        <!-- <select id="country" class="mt-10 form-select country" aria-label="Default select example" onchange="loadStates()" required>
                            <option selected>Select Country</option>
                        </select> --> 
                    </div>

                    <div class="home-address mt-10">
                        <label for="homeaddress">Home Address </label>
                        <input id="homeaddress" class="mt-10" type="text" placeholder="Enter your address">
                    </div>

                    <div class="name-input mt-10"> 
                        <div>
                            <label for="state">State</label>
                            <input id="state" class="mt-10" type="text" placeholder="Enter State" required>
                            <!-- <select id="state" class="mt-10 form-select state" aria-label="Default select example" required>
                                <option selected>Select State</option>
                            </select> -->
                        </div>

                        <div>
                            <label for="city">City</label>
                            <input id="city" class="mt-10" type="text" placeholder="Enter City" required>
                            <!-- <select id="city" class="mt-10 form-select city" aria-label="Default select example">
                                <option selected>Select City</option>
                            </select> -->
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="zipcode">Home Address </label>
                            <input id="zipcode" class="mt-10" type="text" placeholder="Enter your address">
                        </div>

                        <div>
                            <label for="zipcode">Zip Code </label>
                            <input id="zipcode" class="mt-10" type="text" placeholder="Enter Zipcode">
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="dob">DOB <span class="required">(Required)</span></label>
                            <input id="dob" class="mt-10" type="date" required>
                        </div>
                        <div id="inputContainer">
                            <label for="idnumber">SSN / SIN / NIN / TFN<span class="required">(Required)</span></label>
                            <input id="idnumber" class="mt-10" type="text" placeholder="Enter Country Identity Number"required>
                        </div>
                    </div>

                    <div class="name-input mt-10">
                        <div>
                            <label for="creditscore">Existing Loan</label>
                            <select id="creditscore" class="mt-10 form-select" aria-label="Default select example" required>
                                <option selected> Sectect YES/NO</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div>
                            <label for="creditscore">How did you hear about us?</label>
                            <select id="creditscore" class="mt-10 form-select" aria-label="Default select example" required>
                                <option selected>Select Options</option>
                                <option>Google</option>
                                <option>Email</option>
                                <option>Radio</option>
                                <option>Mail</option>
                                <option>Video</option>
                                <option>Display Ads</option>
                                <option>Facebool</option>
                                <option>LinkedIn</option>
                                <option>SOcial Media / Other</option>
                                <option>Referral</option>
                                <option>Tv / Streaming</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>

                    <div class="name-input mt-10">
                        <div>
                            <label for="creditscore">Credit Score <span class="required">(Required)</span></label>
                            <select id="creditscore" class="mt-10 form-select" aria-label="Default select example" required>
                                <option selected>Select Credit Score</option>
                                <option>599</option>
                                <option>600-649</option>
                                <option>650-679</option>
                                <option>680-699</option>
                                <option>700-719</option>
                                <option>720-739</option>
                                <option>740</option>
                            </select>
                        </div>
                        <div>
                            <label for="loanamount">Loan Amount?<span class="required">(Required)</span></label>
                            <input id="loanownership" class="mt-10" type="text" placeholder="Enter Required Amount" required>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>

                </div> 


                <!--Do you have a have bank account-->
                <div class="form-step">
                    <div class="container">
                        <h2>Do you have a bank account?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="bankacct">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </div>
                                <h4 class="text-option">Yes</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="bankacct">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                </div>
                                <h4 class="text-option">No</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>


                <!--Do you have a credit card-->
                <div class="form-step">
                    <div class="container">
                        <h2>Do you have a credit card?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="cc">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </div>
                                <h4>Yes</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="cc">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-thumbs-down"></i>
                                </div>
                                <h4>No</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--Whose name is your bank account in-->
                <div class="form-step">
                    <div class="container">
                        <h2>Whose name is your bank account in?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="bankname">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-piggy-bank"></i>
                                </div>
                                <h4>In Your Personal Name</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="bankname">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-file"></i>
                                </div>
                                <h4>In Your Business Name</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--In the last 90days, what was your lowest monthly revenue-->
                <div class="form-step">
                    <div class="container">
                        <h2>In the last 90days, what was your lowest monthly revenue?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>Less than $3,000</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$3,000 - $10,000</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$10,000 - $15,000</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$15,000 - $50,000</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="monthlyrevenue">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-sack-dollar"></i>
                                </div>
                                <h4>$50,000+</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--What type of funding are you seeking-->
                <div class="form-step">
                    <div class="container">
                        <h2>What type of funding are you seeking?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="fundtype">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-landmark"></i>
                                </div>
                                <h4>Loan or Advance</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="fundtype">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-credit-card"></i>
                                </div>
                                <h4>Line Of Credit</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="fundtype">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-border-all"></i>
                                </div>
                                <h4>Both</h4>
                            </div>
                        </div>
                    </div>
                    

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <!--How do you want us to contact you-->
                <div class="form-step">
                    <div class="container">
                        <h2>How do you want us to contact you?</h2>
                        <div class="radio-tile-group">
                    
                            <div class="input-container">
                                <input type="radio" name="contactchoice">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-inbox"></i>
                                </div>
                                <h4>Email</h4>
                            </div>
                    
                            <div class="input-container">
                                <input type="radio" name="contactchoice">
                                <div class="radio-tile">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <h4>Phone</h4>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="contactchoice">
                                <div class="radio-tile">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </div>
                                <h4>Whatsapp</h4>
                            </div>
                        </div>
                    </div>

                    <!--btn-->
                    <div class="btns-group">
                        <p id="err-mss" class="error"></p>
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <div class="form-step">
                    <div class=" upload-text">
                        <h2 class="mt-10 green">Upload Documents</h2>
                        <h2 class="mt-10">For Faster Approval Upload 3 Months Bank Statements and your Valid ID card(Front and Back)</h2>
                        <h4 class="mt-10">Estimated Approval 3 - 4 Hours</h4>
                        <p class="mt-10">For application whose business is located in the state of California or New York, please upload the four most recent months of business bank statements.</p>
                    </div>

                    <!-- Image uploader -->
                    <div class="image-area">
                        <input id="file" type="file" placeholder="Select Files" multiple accept="image/*,application/pdf,.pdf" hidden>
                        <button class="upload-btn">Select Files</button>
                    </div>

                    <!--Submit-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <input type="submit" value="Submit" class="btn" />
                    </div>
                </div>

            </form>

            <p class="form-text">
                This site is managed exclusively by Greenenergy Fund. 
                Agents act solely as a referring partners and do not guarantee or underwrite Bank Breezy services. 
                By entering your mobile number you consent that we may contact you on your mobile to help facilitate your application.
            </p>
        </div>     

    </div>

    <script>
        const uploadBtn = document.querySelector('.upload-btn');
        const inputFile = document.querySelector('#file');

        uploadBtn.addEventListener('click', function () {
        inputFile.click();
        })
    </script>