<!-- Contact Us Now -->
<div class="connect">
    <h1>Connect with us</h1>
    <p>We would love to manage your assests for you.</p>
    
    <form action="" class="form">
        <div>
            <label for="email"> Full Name</label>
            <input type="email" placeholder="Enter your name">
        </div>
        <div>
            <label for="email"> Email</label>
            <input type="email" placeholder="Enter your Email">
        </div>
        <div>
            <label for="message">Message</label>
            <textarea name="" id="" draggable="false" placeholder="Your Message"></textarea>
        </div>
        
        <button class="consult-btn">Send</button>
    </form>
</div>

<!-- Meet our team -->
<div class="connect">
    <h1>Meet Our team</h1>
    <p>We are a team of experts who exist to help businesses <strong>grow and flourish.</strong>  </p>
    <div class="team">
        <div class="member">
            <img src="/img/Neil.jpg" alt="Walsh Image">
            <h2>Neil Walsh </h2>
            <i>President, Ny Office</i>
            <p>Neil is the President of Platform Funding, LLC and Elevation Capital, LLC. He graduated with an M.B.A. from the University at Buffalo. With over 15 years of Executive and Operations Management experience, Neil oversees all facets of daily operations and develops the high level strategies to obtain maximum performance and efficiency for each entity. He is responsible for the development, design, operation and improvement of the trusted systems that create and deliver their outstanding services. Neil’s goal for Platform Funding and Elevation Capital is to stand as the leaders in alternative financing, by helping merchants build their business with the personalized funding necessary to obtain their objectives. Neil, along with his wife keep very busy with their young son, enjoying lots of outdoor activities and traveling to new destinations as much as they can.</p>
        </div>

        <div class="member">
            <img src="/img/Brett-Photo-24.jpg" alt="Breet image">
            <h2>Brett Sanders</h2>
            <i>Chief Production Officer, FL Office</i>
            <p>Brett joined Platform Funding 7 years ago and hasn’t looked back. Total, he has over 12 years’ experience in the financial space. Private Wealth Management, Mortgage-Backed Securities and Alternative Lending are how Brett has made a name for himself.  Brett’s goal is to leverage his connections with our funders to truly get the best approvals for business owners in need of working capital. Brett majored in Finance and Communications at Ohio State University where he learned to put his sales skills to use when structuring deals for business owners who are reinvesting in their business and communities.</p>
        </div>

        <div class="member">
            <img src="/img/Phil.jpg" alt="">
            <h2>Phil Tabbi</h2>
            <i>Director of Funding, NY Office</i>
            <p>Phil graduated of Dameon College and has been with Platform Funding since 2016. Prior to joining Platform Funding; Phil owned and operated his own back office support business. After building up his company and being made an offer he could not refuse. Phil decided to join the team that helped him grow his business. Phil's goal is to provide business owners with the fastest and most competitive funding options in the industry. Phil has gained vast industry knowledge in a quick time and strives to build products that make sense for everyday business owners across various industries. When away from the office, Phil spends his time supporting both local businesses and his favorite Football team, the Buffalo Bills!</p>
        </div>

        <div class="member">
            <img src="/img/Ryan.jpg" alt="Ryan Image">
            <h2>Ryan Sittniewski</h2>
            <i>Recruiting and Human Resource Manager, NY Office</i>
            <p>Born, raised and still currently living in Buffalo NY, Ryan joined the Platform Funding family in 2012 as the Recruiting and Human Resource Manager and has helped Platform with finding and retaining dedicated employees at all 3 office locations. He attended and graduated from Canisus University with his B.S. in Management and Marketing and M.B.A. in Human Resource Management. Prior to taking over the Recruiting and Human Resource Manager role at Platform Funding. Ryan worked at UPS for 7 years as an Operations Manager and 2 years at Cintas as a Plant Manager. Both these positions helped Ryan learn and understand the importance to balance and teamwork between management and employees. Outside of work; family, his girlfriend and dog Mookie are the most important things in Ryan’s life. Ryan volunteers with Hospice and a local dog rescue organization Buddy’s Second Chance and loves The Buffalo Bills, Boston Red Sox, golfing and to travel.</p>
        </div>

        <div class="member">
            <img src="/img/Colin.jpg" alt="Colin Image">
            <h2>Colin Neumann-Kyle</h2>
            <i>Director of Operations, CA Office</i>
            <p>Colin has over 7 years of experience in the private lending space. We are proud to say that Colin started as an agent, promoted to maintaining the company’s renewal book, and now manages the California Office. His day to day is making sure the agents are on task and delivering working capital solutions for business owners. Colin attended CSUSH (Cal State University Dominguez Hills) to follow in his parent’s footsteps in becoming a teacher, and now he educates new sales agents and business owners on funding programs available. Colin tries to be as active as possible outside the office enjoying his time with his friends/family and has attended and participated in the national dart championships the last 3 years.</p>
        </div>

        <div class="member">
            <img src="/img/joe.jpg" alt="Joe Image">
            <h2>Joe Kimmel</h2>
            <i>Director of Strategic Partnerships, CA Office</i>
            <p>Joe is the Director of Strategic Partnerships at Platform Funding, LLC. He holds over 10 years of experience in the financial industry working in both the private and public sectors, with a background working with Institutional Clients in the banking industry. Joe has been with Platform for over 5 years and currently oversees Platform Funding’s strategic funding partnerships to make sure the company continues to be positioned as a leader in the alternative financing space. He also works with new and existing clients to help customize tailor-made financing solutions for their businesses. Joe graduated with a BS. in Business Administration from the University of Southern California. Outside of the office Joe spends most of his time with his two rescue dogs, and living an active lifestyle which includes cooking, fitness, going to music festivals and traveling. Fun Fact: He was born and raised in Taiwan and speaks fluent Mandarin Chinese.</p>
        </div>
    </div>
</div>