

    <!-- Main Content - Hero Section -->

    <!--Apply loan section-->
    <div class="loan-banner">
        <div>
            <img src="/img/marketing-4646598_1280.png" alt="Loan for you">
        </div>
        <div>
            <a href="/applyloan">Revenue Based Business Funding
                <span>
                    <br/>
                    From $2k - $2m
                </span>
            </a>
            <a href="/consult" class="mt-20">We Can Manage Your Assets
                <span>
                    <br/>
                    Allow an Expert to do it for you
                </span>
            </a>
        </div>  
    </div>

    <!--Greenery Record and Fact-->
    <div class="records-section">
        <div>
            <svg class="records-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5"></path>
            </svg>
            <p class="records-big-word">24/7</p>
            <p class="records-small-word">Always Available</p>
        </div>
        <div>
            <svg class="records-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"></path>
            </svg>
            <p class="records-big-word">Safe</p>
            <p class="records-small-word">Always Secured</p>
        </div>
        <div>
            <svg class="records-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"></path>
            </svg>
            <p class="records-big-word">1M+</p>
            <p class="records-small-word">Client</p>
        </div>
        <div>
            <svg class="records-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z"></path>
            </svg>
            <p class="records-big-word">40B+</p>
            <p class="records-small-word">Borrowed</p>
        </div>
    </div>

    <!--About Greenenergy and what we offer-->
    <div class="about-section">
        <div>
            <h1>About us</h1>
            <p class="mt-10">
                Meet Green Energy Fund Our company was founded by business owners that recognized the need to offer fast and easy financing to small businesses. Our objective is to provide financing alternatives compared to traditional banks with a focus on a business’ cash flows, rather than traditional bank underwriting guidelines.
                <a class="about-link"> Our Team>></a>
            </p>
            
        </div>
        
        <div>
            <h1>Who are we?</h1>
            <p class="mt-10">
                To provide small and medium sized businesses access to a steady stream of (capital/funding) in a simple, fast, and flexible manner that enables them to meet their immediate goals and realize long-term strategic growth.
            </p>
        </div>

        <div>
            <h1>Who do we work with?</h1>
            <p class="mt-10">
                We have provided $5,000- $10 Million in working capital advances to businesses in industries such as construction, retail, transportation, healthcare, food service, and wholesale distribution. Industries
            </p>
        </div>

        <div>
            <h1>How do we help Business?</h1>
            <p class="mt-10">
                Green energy fund is your financial solution for business growth. We design our financial services to maximize the amount of funds you can get, no matter what your financial status.See the ways we can help fund your business.
            </p>
        </div>
    </div>

    <!--What we offer-->
    <div class="offer-section">
        <h1>What we offer</h1>
        <div class="each-offer">
            <div>
                <h3>Business Loan</h3>
                <p>
                    Business loans have a fixed interest rate and term and are typically longer in duration.
                </p>
                <a>Learn More</a>
            </div>

            <div>
                <h3>Line of Credit</h3>
                <p>
                    A line of credit on the other hand is a revolving loan that provides a set amount of capital that can be accessed when needed.
                </p>
                <a>Learn More</a>
            </div>

            <div>
                <h3>Revenue Based Funding</h3>
                <p>
                    Revenue based financing allow you to sell a % of your future receivables at a small discount.  We then collect our fixed % back over a non-fixed period of time until the purchase amount is received.
                </p>
                <a>Learn More</a>
            </div>

            <div>
                <h3>Invoice Factoring</h3>
                <p>
                    Invoice factoring turns your invoices into immediate capital. You sell your invoices and we advance you immediate funds.
                </p>
                <a>Learn More</a>
            </div>

            <div>
                <h3>Equipment Leasing</h3>
                <p>
                    Equipment Leasing is a solution to purchasing pricey items for your business. Equipment lease financing essentially refers to funds borrowed from a lender that can be used as payment for an equipment lease.
                </p>
                <a>Learn More</a>
            </div>
        </div>
    </div>
    <!--Certificate-->
    <div>
        <div class="cert-img">
            <img src="/img/VAS-Logo-300x173.jpg" alt="NECA Certificate">
            <p>Endorsed by The National Electrical Contractors Association</p>
        </div>
        
    </div>

