<div class=" how-to center-form mtb">

        <div class="form-section">
            <h1 class="form-h1">Enter your Information for Personal Funding</h1>

            <!--Progress bar-->
            <div class="progressbar">
                <div class="progress" id="progress"></div>
                
                <div class="progress-step progress-step-active" data-title=""></div>
                <div class="progress-step" data-title=""></div>
                <div class="progress-step" data-title=""></div>
            </div>

            <form action="/personalloan" method="POST" id="form-step" enctype="multipart/form-data">

                <div class="form-step form-step-active">
                    <div class="name-input mt-10">
                        <h4 class="name-header">Client Name <span class="required">(Required)</span></h4>
                        <div class="mt-10">
                            <label for="firstname"> First Name</label>
                            <input id="firstname" name="firstname" class="mt-10" type="text" placeholder="Enter First Name" required>
                            <p>Please enter your firstname</p>
                        </div>
                        <div class="mt-10">
                            <label for="lastname"> Last Name</label>
                            <input id="lastname" name="lastname" class="mt-10" type="text" placeholder="Enter Last Name" required>
                            <p>Please enter your lastname</p>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="phonenumber">Mobile <span class="required">(Required)</span></label>
                            <input id="phonenumber" name="phonenumber" class="mt-10" type="text" placeholder=" Enter Phone Number" required>
                            <p>Please enter a valid phone number</p>
                        </div>
                        <div>
                            <label for="email">Email <span class="required">(Required)</span></label>
                            <input id="email" name="email" class="mt-10" type="text" placeholder="Enter Email" required>
                            <p>Please enter a valid email</p>
                        </div>
                    </div>

                    <div class="country-radio mt-10">   
                        <label for="country">Country <span class="required">(Required)</span></label>
                        <div class="country-radio-tile-group">
                    
                            <div class="country-input-container">
                                <input type="radio" name="country" value="US" required>
                                <div class="country-radio-tile">
                                    <img src="/img/united-states-162454_640.png"></img>
                                </div>
                                <h4>United State</h4>
                            </div>

                            <div class="country-input-container">
                                <input type="radio" name="country" value="CA" required>
                                <div class="country-radio-tile">
                                    <img src="/img/canada-159585_640.png"></img>
                                </div>
                                <h4>Canada</h4>
                            </div>

                            <div class="country-input-container">
                                <input type="radio" name="country" value="GB" required>
                                <div class="country-radio-tile">
                                    <img src="/img/united-kingdom-162452_640.png"></img>
                                </div>
                                <h4>United Kingdom</h4>
                            </div>

                            <div class="country-input-container">
                                <input type="radio" name="country" value="AU" required>
                                
                                <div class="country-radio-tile">
                                    <img src="/img/australia-1296727_640.png"></img>
                                </div>
                                <h4>Australia</h4>
                            </div>
                        </div>
                        
                    </div>

                    <div class="home-address mt-10">
                        <label for="homeaddress">Home Address </label>
                        <input id="homeaddress" name="homeaddress" class="mt-10" type="text" placeholder="Enter your address" required>
                        <p>Please enter your home address</p>
                    </div>

                    <div class="name-input mt-10"> 
                        <div>
                            <label for="state">State</label>
                            <input id="state" name="state" class="mt-10" type="text" placeholder="Enter State" required>
                            <p>Please enter your state</p>
                        </div>

                        <div>
                            <label for="city">City</label>
                            <input id="city" name="city" class="mt-10" type="text" placeholder="Enter City" required>
                            <p>Please enter your city</p>
                        </div>
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="zipcode">Zip Code </label>
                            <input id="zipcode" name="zipcode" class="mt-10" type="text" placeholder="Enter Zipcode" required>
                            <p>Please enter your Zipcode</p>
                        </div>

                        <div id="inputContainer">
                            <label for="ninnumber">SSN / SIN / NIN / TFN<span class="required">(Required)</span></label>
                            <input id="ninnumber" name="ninnumber" class="mt-10" type="text" placeholder="Enter Country Identity Number" required>
                            <p>Please enter your National Identity Number according to the format provided</p>
                        </div>
                        
                    </div>

                    <div class="name-input mt-10">   
                        <div>
                            <label for="dob">DOB <span class="required">(Required)</span></label>
                            <input id="dob" name="dob" class="mt-10" type="date" required>
                            <p>Please enter date of birth. Format: MM/DD/YYYY eg. 12/01/1999</p>
                        </div>

                        <div>
                            <label for="loanamount">Loan Amount?<span class="required">(Required)</span></label>
                            <input id="loanamount" name="loanamount" class="mt-10" type="text" placeholder="Enter Required Amount" required>
                            <p>Please enter loan amount. Format: 1,000.00 or 1,000 eg 1,000,000.00 or 1,000,000</p>
                        </div>
                        
                    </div>

                    <div class="name-input mt-10">
                        <div>
                            <label for="agent">Agent Name</label>
                            <input id="agent" name="agent" class="mt-10" type="text" placeholder="Enter Agent Name">
                        </div>
                        <div>
                            <label for="agentid">Agent ID</label>
                            <input id="agentid" name="agentid" class="mt-10" type="text" placeholder="Enter Agent ID">
                        </div>
                    </div>

                    <div class="name-input mt-10">
                        <div>
                            <label for="creditscore">Credit Score <span class="required">(Required)</span></label>
                            <select id="creditscore" name="creditscore" class="mt-10 form-select state" required>
                                <option value="" disabled selected>Select Credit Score</option>
                                <option>599</option>
                                <option>600-649</option>
                                <option>650-679</option>
                                <option>680-699</option>
                                <option>700-719</option>
                                <option>720-739</option>
                                <option>740</option>
                            </select>
                            <p>Please make a selection</p>
                        </div>
                        
                        <div>
                            <label for="commethod">Choose a Preffered Communication Method</label>
                            <select id="commethod" name="commethod" class="mt-10 form-select" required>
                                <option value="" selected>Select from options</option>
                                <option> Email</option>
                                <option>Phone</option>
                                <option>Whatsapp</option>
                            </select>
                            <p>Please make a selection</p>
                        </div>
                    </div>

                    <!-- btn -->
                    <div class="">
                        <a href="#" class="btn btn-next btn-width-50">Next</a>
                    </div>

                </div>


                <!--Questions-->

                <div class="form-step mt-20">
                    <div class="name-input mt-20">   
                        <div>
                            <label for="bankaccount">Do you have a bank account?</label>
                            <select id="bankaccount" name="bankaccount" class="mt-10 form-select" required>
                                <option value="" disabled selected> Select YES/NO</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            <p>Please make a selection</p>
                        </div>
                        <div>
                            <label for="creditcard">Do you have a credit card?</label>
                            <select id="creditcard" name="creditcard" class="mt-10 form-select" required>
                                <option value="" disabled selected> Sectect YES/NO</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            <p>Please make a selection</p>
                        </div>
                    </div>

                    <div class="name-input mt-20">   
                        <div>
                            <label for="accountname">Whose name is your bank account in?</label>
                            <select id="accountname" name="accountname" class="mt-10 form-select" required>
                                <option value="" disabled selected>Select from options</option>
                                <option>In your Personal Name</option>
                                <option>In your Business Name</option>
                            </select>
                            <p>Please make a selection</p>
                        </div>
                        <div>
                            <label for="fundtype">What type of funding are you seeking?</label>
                            <select id="fundtype" name="fundtype" class="mt-10 form-select" required>
                                <option value="" disabled selected>Select from options</option>
                                <option>Loan or Advance</option>
                                <option>Line of Credit</option>
                                <option>Both</option>
                            </select>
                            <p>Please make a selection</p>
                        </div>
                    </div>

                    <div class="home-address mt-10">
                        <label for="monthlyrevenue">Lowest Revenue for last 3Months?</label>
                        <select id="monthlyrevenue" name="monthlyrevenue" class="mt-10 form-select" required>
                            <option value="" disabled selected> Select from options</option>
                            <option>Less than $3, 000</option>
                            <option>$3, 000 - $10, 000</option>
                            <option>$10, 000 - $50, 000</option>
                            <option>$50, 000++</option>
                        </select>
                        <p>Please make a selection</p>
                    </div>


                    <!--btn-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <a href="#" class="btn btn-next">Next</a>
                    </div>
                </div>

                <div class="form-step">
                    <div class=" upload-text">
                        <h2 class="mt-10 green">Upload Documents</h2>
                        <h2 class="mt-10">For Faster Approval Upload 3 Months Bank Statements and your Valid ID card(Front and Back)</h2>
                        <h4 class="mt-10">Estimated Approval 3 - 4 Hours</h4>
                        <p class="mt-10">For application whose business is located in the state of California or New York, please upload the four most recent months of business bank statements.</p>
                    </div>

                    <!-- Image uploader -->
                    <div class="image-area">
                        <p class="mt-20 center">Upload Bank Statement, ID Card Front and ID Card Back</p>
                        <input id="images" type="file" name="images" accept="image/*" multiple required hidden>
                        <button type="button" class="upload-btn">Select All Files</button>
                    </div>
                    <div class="file-list"></div>

                    <div class="tos">
                        <h2>Please scroll down and read through all the following terms to activate the checkbox</h2>
                        <div class="terms-container">
                            <p><strong>Terms of Service</strong></p>
                            <p>The Business and Owner(s) identified above (collectively, the “Applicant”) each represent, acknowledge and agree to the Representations and Acknowledgments set forth below. In processing this application, Kapitus may request credit reports from one or more credit bureaus on the Business and Owner(s) (the Owners(s)’ personal credit score will not be affected by Kapitus’s request). Applicant further represents, acknowledges and agrees to the Consents Relating to the Referral of Application to Third-Parties, the Consent to Use Electronic Records and Signatures, and the Promotions and the Services Notice set forth below. Please note that you are not required to consent to be contacted for marketing or promotional purposes in order to qualify for financing or obtain products or services from Kapitus. 
                                Representations and Acknowledgments of Applicant
                                1. All information and documents provided by the Applicant directly or indirectly, in connection with or as part of this application are true, accurate and complete;2. Applicant will immediately notify Kapitus and/or its subsidiaries, affiliates or agents (collectively, “Kapitus”) of any error or change in such information or in the Applicant’s financial condition;3. Kapitus is authorized to request and receive consumer or personal, and business or entity, credit reports from one or more credit bureaus, such as TransUnion, Experian or Equifax, investigative reports about the Applicant from third party data aggregators, and other financial information about Applicant, including credit card processor statements and bank statements, directly from credit bureaus, banks, creditors or other third parties, and to verify through third-party sources all information contained, provided, or obtained in connection with the Application;4. Applicant waives and releases any claims against Kapitus arising from any act or omission relating to Kapitus’s request for, receipt of or release of information as authorized by this Application;5. Each Owner represents that they are authorized to execute any documents on behalf of the Business and to bind the Business;6. Applicant agrees to conduct business by electronic means, including without limitation the receipt by email of agreements, communications, notices, authorizations, disclosures (including any and all disclosures and/or notices required to be given by applicable law), and any other records we provide (collectively, “Communications”). Applicant understands and acknowledges that electronic signatures shall have the same legal effect as if signed in ink and will be deemed valid, enforceable, and binding.
                                Consents Relating to the Referral of the Application to Third-Parties for Purposes of Securing Financing
                                1. Applicant authorizes Kapitus to provide the Application, including all information and documents obtained (such as, without limitation, information obtained from credit reports) to third-party financial institutions, lenders, loan servicers, purchasers of accounts receivable, factoring companies, equipment finance or leasing companies, brokers or other similar sources of commercial financing (collectively, “Third-Parties”) in connection with or following the processing of this Application for financing by Kapitus.2. Applicant authorizes the Third-Parties to whom the Application is provided to, separately and on their own behalf, request and receive consumer or personal, and business or entity, credit reports from one or more credit bureaus, such as TransUnion, Experian or Equifax, investigative reports about the Applicant from third party data aggregators, and other financial information about Applicant, including credit card processor statements and bank statements, directly from credit bureaus, banks, creditors or other third parties, and to verify through third-party sources all information contained, provided, or obtained in connection with the Application. Such inquiries by Third Parties may be “hard credit pulls” that may impact the credit score of the Business and/or the Owner(s). 
                                Consent to Use Electronic Records and Signatures
                                Applicant’s consent to use electronic records and signatures. Applicant agrees that Kapitus may provide any Communications electronically (“Electronic Records”) and to the use of electronic signatures. Applicant’s consent applies to all Communications that may be provided during Applicant’s business relationship with Kapitus. For example, this ESIGN Consent and Disclosure, applications, agreements, and notices or disclosures required to be provided by law or that Kapitus chooses to provide in its discretion. Electronic Records shall be delivered to Applicant by email or other electronic means. Even with Applicant’s consent to Electronic Records, Kapitus may, in its sole discretion, provide any Communication on paper. Applicant acknowledges and agrees that all Electronic Records delivered to Applicant by Kapitus (i) shall be given the same legal effect as signed paper Communications, (ii) shall be considered a “writing” or “in writing” and (iii) shall be deemed for all purposes to have been "signed" and to constitute an "original" when printed from electronic files or records established and maintained in the normal course of business. Any notice Applicant is required to provide to Kapitus by law, agreement, or otherwise must be provided to us on paper, unless we specifically communicate in another Communication that it may be delivered to us electronically. 
                                Applicant’s option to receive paper copies. Applicant may request a paper copy of an Electronic Record Kapitus provided at no charge to Applicant by contacting us at (800) 780-7133 or support@kapitus.com.
                                Changing Applicant’s consent. Applicant may withdraw Applicant’s consent at any time. To withdraw consent, Applicant must contact us at (800) 780-7133 or support@kapitus.com. Applicant’s withdrawal of consent will be effective after Kapitus has a reasonable opportunity to act upon it. 
                                Maintaining Current Email Information on File. It is Applicant’s responsibility to keep Applicant’s primary email address current so Kapitus can communicate with Applicant electronically. Applicant must promptly contact us at (800) 780-7133 or support@kapitus.com to notify us of any changes to Applicant’s email address on file with Kapitus. If Applicant uses a spam filter or similar software that blocks or re-routes emails from senders not listed in Applicant’s email address book, consider adding Kapitus to the email address book.
                                Necessary Hardware and Software Requirements. For access to and retention of Electronic Records, Applicant must have:
                                1. A valid email address;2. Sufficient electronic storage capacity;3. An internet browser, with software for viewing documents such as Portable Document Format (PDF);4. Internet connectivity capable of sending, receiving and accessing data, information and communications from us;5. Either a printer, a hard drive, or other storage capabilities.
                                If Kapitus’s hardware or software requirements change and that change would create a material risk that Applicant would not be able to access or retain Electronic Records, Kapitus will provide notice of the revised hardware or software requirements and a reminder of Applicant’s right to withdraw consent to Electronic Records.By providing consent, Applicant confirms that Applicant has the hardware and software described above, that Applicant is able to receive and review Electronic Records, and that Applicant has provided a valid email account.Applicant’s Acknowledgment and Confirmation of Consent. By signing below, Applicant acknowledges and agrees, among other things that (1) Applicant affirmatively consents to do business electronically and that Applicant and Kapitus both intend that the Electronic Signatures in Global and National Commerce Act apply to the fullest extent possible to validate our ability to conduct business by electronic means; (3) Applicant can access and read the terms and notices set forth herein; (4) Applicant can print on paper this disclosure or save or send the disclosure to a place where Applicant can print it, for future reference and access; and (3) until or unless Applicant notifies Kapitus per instructions above, Applicant consents to receipt of Communications through electronic means.
                                Promotions and Servicing Notice
                                Kapitus may, from time to time, notify Applicant of various promotional offers and other marketing information, or contact Applicant in connection with the servicing of any financing, or in connection with any default under any financing. Applicant expressly consents and authorizes Kapitus to call, e-mail, send text messages, and/or send other electronic messages (including prerecorded or artificial voice messages) using an automatic telephone dialing system to any telephone number provided by Applicant, and any telephone number included in any and all documents or forms submitted, including cellular phone numbers and landlines, regardless of their inclusion on any do not call list, for purposes of servicing, collections, marketing or promoting any product offered by Kapitus. Please note that you are not required to consent to be contacted for marketing or promotional purposes in order to qualify for financing or obtain any other products or services from Kapitus. If you do not agree to be called for marketing or promotional purposes, please call (844) 547-9396 or email DNC@kapitus.com
                                IF YOUR APPLICATION FOR BUSINESS CREDIT IS DENIED, YOU HAVE THE RIGHT TO A WRITTEN STATEMENT OF THE SPECIFIC REASONS FOR THE DENIAL. TO OBTAIN THE STATEMENT, PLEASE CONTACT KAPITUS LLC AT 2500 WILSON BOULEVARD, SUITE 350, ARLINGTON, VIRGINIA 22201 OR (844) 547-9396 WITHIN 60 DAYS FROM THE DATE YOU ARE NOTIFIED OF THE CREDIT DECISION. YOU HAVE THE RIGHT TO OBTAIN A WRITTEN STATEMENT OF REASONS FOR THE DENIAL WITHIN 30 DAYS OF RECEIVING YOUR REQUEST FOR THE STATEMENT. 
                                The notice below applies to applications processed by Kapitus. If the Application is referred to Third-Parties, they may separately contact you or provide information about your rights in the event your application is denied to the extent required by law. 
                                NOTICE: THE FEDERAL EQUAL CREDIT OPPORTUNITY ACT PROHIBITS CREDITORS FROM DISCRIMINATING AGAINST CREDIT APPLICANTS ON THE BASIS OF RACE, COLOR, RELIGION, NATIONAL ORIGIN, SEX, MARITAL STATUS, AGE (PROVIDED THE APPLICANT HAS THE CAPACITY TO ENTER INTO A BINDING CONTRACT); BECAUSE ALL OR PART OF THE APPLICANT'S INCOME DERIVES FROM ANY PUBLIC ASSISTANCE PROGRAM; OR BECAUSE THE APPLICANT HAS IN GOOD FAITH EXERCISED ANY RIGHT UNDER THE CONSUMER CREDIT PROTECTION ACT. THE FEDERAL AGENCY THAT ADMINISTERS COMPLIANCE WITH THIS LAW CONCERNING THIS CREDITOR IS THE FEDERAL TRADE COMMISSION, 600 PENNSYLVANIA AVENUE, NW, WASHINGTON, DC 20580, FTC.GOV.
                                Copyright 2024• Kapitus • All Rights Reserved. Loans made in California by Strategic Funding Source, Inc. dba Kapitus are issued pursuant to California Finance Lenders License No. 603-G807. By signing below, you agree that you have read and agree to the above terms and notices and our Privacy Policy and our website Terms of Use Agreement (available at www.greenenergyfund.com).</p>
                        </div>
                    </div>

                    <div class="accept-terms">
                        <input type="checkbox" id="acceptTerms" name="terms">
                        <label for="acceptTerms" class="accept-terms"><small>By checking here, I agree that I have read and agree to the above terms and notices, Green Energy Fund's Privacy Policy and Terms of Use</small></label>
                    </div>

                    <!--Submit-->
                    <div class="btns-group">
                        <a href="#" class="btn btn-prev">Previous</a>
                        <button type="submit" id="submitBtn" class="btn">Submit</button>
                    </div>
                </div>


            </form>

            <p class="form-text">
                This site is managed exclusively by Greenenergy Fund. 
                Agents act solely as a referring partners and do not guarantee or underwrite Green Energy Fund services. 
                By entering your mobile number you consent that we may contact you on your mobile to help facilitate your application.
            </p>
        </div>     

</div>

<script>
    const uploadBtn = document.querySelector('.upload-btn');
    const inputFile = document.querySelector('#images');
    const fileList = document.querySelector('.file-list');
    let uploadedFiles = [];

    uploadBtn.addEventListener('click', function () {
        inputFile.click();

    });

    inputFile.addEventListener('change', function () {
        const files = inputFile.files;
        const maxFileSize = 2 * 1024 * 1024; // 2MB in bytes
        const maxFiles = 3;

        if (files.length > 0) {
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                if (file.size > maxFileSize) {
                    alert(`File ${file.name} exceeds 2MB limit. Please upload a smaller file.`);
                    return;
                }

                if (uploadedFiles.length >= maxFiles) {
                    alert('You can only upload a maximum of 3 files.');
                    return;
                }

                uploadedFiles.push(file);
                const p = document.createElement('p');
                p.textContent = file.name;

                const removeBtn = document.createElement('button');
                removeBtn.textContent = 'Remove';
                removeBtn.addEventListener('click', function () {
                    const index = uploadedFiles.indexOf(file);
                    if (index > -1) {
                        uploadedFiles.splice(index, 1);
                        fileList.removeChild(p);
                        updateUploadBtn();
                    }
                });

                p.appendChild(removeBtn);
                fileList.appendChild(p);
                updateUploadBtn();
            }
        }

        // Ensure the input value is cleared after files are added to the list
        // inputFile.value = '';
    });

    function updateUploadBtn() {
        const totalFiles = uploadedFiles.length;

        switch (totalFiles) {
            case 3:
                alert("3 files uploaded: Please ensure you have uploaded the correct documents. If not please remove and select all files again for upload");
                uploadBtn.innerHTML = 'Uploads Complete';
                uploadBtn.disabled = true;
                uploadBtn.style.backgroundColor = '#2b9348';
                break;
            case 2:
                alert("Please remove and reselect all three files for upload.");
                uploadBtn.innerHTML = 'Select All 3 Files';
                uploadBtn.disabled = false;
                uploadBtn.style.backgroundColor = '#666';
                break;
            case 1:
                alert("Please remove and reselect all three files for upload.");
                uploadBtn.innerHTML = 'Select All 3 Files';
                uploadBtn.disabled = false;
                uploadBtn.style.backgroundColor = '#666';
                break;;
            default:
            uploadBtn.innerHTML = 'Select All Files';
        }
    }

    function submitFiles() {
        const formData = new FormData();

        uploadedFiles.forEach(file => {
            formData.append('files', file);
        });

        fetch('/personalloan', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    // submitFiles();
    // Add event listener to the proceed button
    const proceedBtn = document.querySelector('#submitBtn');
    proceedBtn.addEventListener('click', function () {
        if (uploadedFiles.length === 3) {
            submitFiles();
        } else {
            alert('Please upload exactly 3 files before proceeding.');
        }
    });
</script>