/*Admin dashboard styles*/

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
    --nav-width: 210px;
    --nav-collapse-width: 80px;
  
    --header-height: 75px;
  
    --nav-bg-color: #2b9348;
    --active-color: #FFFFFF;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Acme", sans-serif;
  }
  
  /* Global Style */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #343434;
  }
  
  /* Header Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: var(--header-height);
    background-color: #f3f3f3;
    padding-left: var(--nav-width);
    transition: padding-left 0.3s ease-in-out;
  }
  
  header #nav-toggler {
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    padding: 0.50rem 0.50rem;
    border-radius: 0.25rem;
  }
  
  header #nav-toggler:hover{
    color:#2b9348;
    transition: color 0.3s ease-in-out;
  }

  header span{
    margin-left: 5px;
  }

  /* Side Menu Styles */
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--nav-bg-color);
    width: var(--nav-width);
    transition: width 0.2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  nav .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: var(--header-height);
  }
  
  nav .logo span {
    margin-left: 1rem;
  }
  
  .nav__item-link,
  .logo,
  .sign-out {
    font-size: 1.25rem;
    display: block;
    padding: 1rem;
    color: #f3f3f3;
    white-space: nowrap;
  }
  
  .nav__item-link span,
  .logo span,
  .sign-out span {
    margin-left: 0.5rem;
  }
  
  .nav__item-link + ul a {
    display: block;
    padding: 1rem;
    background-color: #f3f3f3;
    white-space: nowrap;
  }
  
  /* JS Classes */
  .collapse {
    width: var(--nav-collapse-width);
  }
  
  .collapse i {
    margin-left: 0.5rem;
  }
  
  .collapse span {
    display: none;
  }
  
  .collapse .nav__item-link + ul a {
    font-size: 0.85rem;
  }
  
  .collapse-header {
    padding-left: calc(var(--nav-collapse-width));
  }
  
  .active {
    position: relative;
    color: var(--active-color);
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .active:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 3px;
    margin: auto 0;
    background-color: var(--active-color);
  }
  
  .d-none {
    display: none;
  }
  
  .nav__item-link + ul a.active-sub-link {
    background-color: #ddd;
  }

  .nav__item-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
  }

  .sub_link:hover {
    background-color: rgb(174, 174, 174);
    transition: background-color 0.3s ease-in-out;
  }

  .sign-out:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
  }
  
  @media screen and (max-width: 768px) {
    header {
      padding-left: 60px;
    }

    header #nav-toggler{
      visibility: hidden;
    }
  
    nav {
      max-width: 80px;
      overflow: hidden;
    }

    .nav__item-link{
      text-align: center;
    }
    
    .logo{
      padding-left: 23px ;
      font-size: 2rem;
    }
  
    .nav__item-link span,
    .logo span,
    .sign-out span {
      display: none;
    }
  }
  

/* ------------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------- */
/* Metric styles */
.metric{
  padding: 25px;
  background: #F3F3F3;
  border-radius: 10px;
  margin: 10px 10px 15px 220px;
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-between;
  align-items: center;
}

.metric-content{
  width: 45%;
  height: 220px;
  border: 3px solid #2c2d2d;
  border-radius: 28px;
  background-color: #fff;
  padding: 20px;
}

.metric-content:hover{
  border: 3px solid #77bfa3;
  background-color: #F3F3F3;
  transition: all 300ms ease-in-out;
}

.metric-content p{
  text-align: center;
}

.loan-count{
  font-size: 5rem;
  color: #008000;
}


/* ------------------------------------------------------------
------------------------------------------------------------------
----------------------------------------------------------------- */
/* Data Table style */
.back-home{
  padding: 20px 20px 20px 225px ;
}

.back-home a:hover{
  color: #77bfa3;
}
.container{
    padding: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #F3F3F3;
    border-radius: 10px;
    margin: 10px 10px 15px 220px;
    border: 2px solid #666;
}

.filterEntries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.entries{
    font-weight: 500;
}

.filterEntries .entries select, .filterEntries .filter input{
    padding: 7px 10px;
    border: 1px solid #666;
    color: #666;
    background: #dce1de;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}


.filterEntries .entries select{
    padding: 5px 10px;
}

.filterEntries .filter{
    display: flex;
    align-items: center;
}

.filter label{
    font-weight: 500;
    margin-right: 5px;
}


.filter input:focus{
    border-color: #262a2e;;
}

.popup header .closeBtn, .popup footer .submitBtn{
    padding: 9px 14px;
    color: var(--dark8);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--dark6);
    background-color: var(--dark4);
    border-radius: 5px;
}

.container table{
    border-collapse: collapse;
    text-align: left;
}

.heading{
    background-color: #dce1de;
    cursor: pointer;
}

table tr th, table tr td{
    padding:12px 18px;
    vertical-align: middle;
}


table tr td{
    border-bottom: 1px solid #666;
}

table tr td{
    font-size: 0.95rem;
}

table td button{
    margin: 1px 3px;
    padding: 5px;
    width: 2.05rem;
    background-color: #dce1de;
    font-size: 0.90rem;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid #666;
}

table td button:hover{
  background-color: #98d2af;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 300ms ease-in-out;

}

.container footer{
    margin-top: 25px;
    font-size: 0.90rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container footer span{
    color: #666;
}

footer .pagination{
    display: flex;
}


footer .pagination button{
    width: 2.70rem;
    padding: 5px 0;
    font-weight: 500;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid #666;
    margin: 0;
}

footer .pagination button:hover{
  background-color: #98d2af;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 300ms ease-in-out;

}

.pagination button:first-child{
    width: 85px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination button:last-child{
    width: 85px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination button.pag-active, .pagination button:hover{
  background-color: #98d2af;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


table tr .empty{
    padding: 30px;
    color: #666;
    text-align: center;
}

.data-hidden{
  display: none;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  transition: all 300ms ease-in-out;
  width: 60%;
}

/* Modal Header */
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn{
  width: 30%;
  color: #FFFFFF;
  background-color: #2b9348;
  font-size: 1rem;
  display: block;
  text-align: center;
  padding: 10px 30px;
  border: 1px solid #2b9348;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin: 20px auto;
}

.close-btn:hover{
  background-color: #008000;
  color: #ebf2fa;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.close {
  color: #aaaaaa;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

/* Modal body */
.modal-body{
  margin-top: 20px;
}

.modal-body p strong{
  font-size: 1.07rem;
  margin-right: 5px;
}

/* business data title */
.busdata-title{
  margin: 20px auto;
  text-align: center;
}

/* Modal gallery */
.gallery{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.uploaded-img{
  max-width: 70%;
  display: block;
  height: auto;
  margin: auto;
}


@media screen and (max-width: 600px) {
  .metric{
    margin: 10px 10px 15px 90px;
    flex-direction: column;
  }

  .metric-content{
    width: 100%;
    margin-top: 20px;
  }

  .container{
    overflow: scroll;
    margin: 10px 10px 15px 90px;
  }
  .back-home{
    padding: 20px 20px 20px 95px ;
  }

  .container footer{
    display: block;
  }

  .pagination{
    margin-top: 10px;
  }

  .modal-content {
    width: 90%;
  }
  .close-btn{
    width: 50%;
  }
}